<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">

</head>
<style>
    body {
		margin: 0px;
		padding: 0px;
		background: url(greet.jpg);
		background-repeat: no-repeat;
		background-size: 1294px 642px;
	}
	.maincontainer{
		
	}
	.container h1{
		color:#dda50c ;
		text-align: center;
		font-family: 'Quintessential', cursive;
	}
	.maincontainer button{
		display: block;
		margin: 9px 588px;
		background-color: #ffcc3e;
		cursor: pointer;
		width: 8%;
		border-radius: 4px;
	}
</style>
<body>
	<div class="maincontainer">
		<div class="container">
		<h1>Thank you for filling out your information<br>
			We will look into your details and will contact you within 24hrs.</h1>
	</div>
	<button><a href="/end">HOME</a></button>
	</div>
    
</body>
</html>