<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LEASY HOMEPAGE</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&family=Ubuntu:ital,wght@1,300&family=Varela+Round&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "61f76bbbc325ae0007402bea";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of ChatBot code -->
</head>

<style>
	body {
		margin: 0px;
		padding: 0px;
		background: url(wallpaperflare.com_wallpaper.jpg);
		background-repeat: no-repeat;
		background-size: 1668px 647px;
		color: white;
	}

	.left {
		position: absolute;
		top: 0px;
		left: 31px;
		display: inline-block;
	}

	.mid {
		position: static;
		left: 30px;
		display: block;
		width: 40%;
		margin-left: 80px;
		margin-top: 10px;

	}

	.right {
		position: absolute;
		top: 0px;
		right: 40px;
		display: block;
	}

	.navbar {
		display: inline-block;
	}

	.navbar li {
		display: inline-block;
	}

	.navbar li a {
		color: white;
		text-decoration: none;
		padding: 30px 30px;
		font-size: 20px;
	}

	.navbar li a:hover,
	.navbar li a.active {
		text-decoration: underline;
		color: #ffcc3e;
	}

	.left img {
		width: 100px;
	}

	.right img {
		width: 55px;
	}

	.chota {
		margin: 88px -242px;
		padding: 12px;
		width: 77%;
		border-radius: 25px;
	}

	.formgroup input {
		text-align: center;
		display: block;
		width: 450px;
		padding: 1px;
		margin: 3px auto;
		font-size: 15px;
		border-radius: 8px;
	}

	.chota h1 {
		text-align: center;
		color: #ffcc3e;
	}

	.chota button {
		display: block;
		width: 50%;
		margin: 15px auto;
		border-radius: 8px;
		background-color: #ffcc3e;
		cursor: pointer;
	}

	.chota .btnone {
		margin-top: 20px;
	}

	.chota .btntwo {
		margin-top: 41px;
	}
	.text{
		border:5px solid yellow;
		color: black;
		width: 65%;
		margin: 49px 231px;
		font-family: 'Bitter', serif;
		font-size: 20px;
	}
	.text img{
		width: 20%;
		margin: 0px 0px;
	}
	.footer{
		border:2px solid red;
		background-color: grey;
		width: 100%;
		height: 20%;
	}
	.row1{
		border:2px solid green;
		width: 28%;
		margin: 0px 18px;
	}
	.row2{
		border:2px solid pink;
		width:28%;
		margin: 0px 0px;
	}
	.footer-content{
		width: 100%;
	}
</style>

<body>
	<header class="head">
		<div class="left">
			<img src="leasy.png">
		</div>
		<div class="mid">
			<ul class="navbar">
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">About us</a></li>
			</ul>
		</div>
		<div class="right">
			<a href="#">
				<img src="Screenshot (66).png">
			</a>
		</div>
	</header>

	<div class="chota">
		<div class="line">
			<h1>Karlo Labour, Phone Pe! <br> ABB DOOR NAHI MAZDOOR</h1>
		</div>
		<div class="btnone">
			<button class="btn"><a href="/hire">HIRE</a></button>
		</div>
		<div class="btntwo">
			<button class="btn"><a href="/apply">APPLY</a></button>
		</div>
	</div>
	<div class="image">
		<img src="3.png" alt="thirdimage" style="width: 27%; margin-top:138px;">
		<img src="4.png" alt="labourimage" style="width: 27%; margin-top:138px;margin-left:87px">
		<img src="2.png" alt="secondimage" style="width: 27%; margin-top:138px;margin-left:93px">
		<img src="5.png" alt="fifthimage" style="width: 27%; margin-top:37px;">
		<img src="6.png" alt="sixthimage" style="width: 27%; margin-top:37px;margin-left:87px">
		<img src="9 (1).png" alt="ninthimage" style="width: 27%; margin-top:37px;margin-left:93px">
		<img src="11.png" alt="eleventhimage" style="width: 27%; margin-top:37px">
		<img src="13.png" alt="thirteenthimage" style="width: 27%; margin-top:37px;margin-left:87px">
		<img src="8.png" alt="eighthimage" style="width: 27%; margin-top:37px;margin-left:87px">
	</div>
	<div class="text">
		<img src="leasy.png" alt="leasyloggo">
		<p>A typical labour mandi functions with two key players - the demand/consumer (employers seeking man-power)
			and the supply (man-power seeking deployment) and depends on each other to fulfill their respective
			requirements. However, lack of any proper communication channel between consumers and labourers is a major
			setback to the mandi dynamics. In order to tackle this we have thought to do something that is properly
			organised and easy for both the employer and the worker.
			LEASY is an online to offline (o2o) service which is CHEAP, RELIABLE and TRUSTWORTHY where the people can
			directly come on our platform and hire workers in minutes. It will enable direct communication between the
			consumer and the daily wage labourer, round the clock, i.e. free of the limitations of time and location. We
			aim at resolving issues like communication-gap, unavailability and unreliability for the consumers while at
			the same time- increasing demand, hours, days and value of employability for the daily wage earners. We
			believe that technology will help make this unorganized sector reach its bonafide efficiency.</p>
	</div>
	
</body>

</html>